*{
    margin: 0;
    padding: 0;
    /* se cambia el modelo de la pagina */
    box-sizing: border-box;
}

html{
/* PARA Q EL FONDO SEA UNA IMAGEN */
    background-image: url("/imagen/seul.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 950px;
    /* QUE LA IMAGEN QUEDE ESTATICA */
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* SE ADADPTA A CUALQUIER TAMAÑO DE PANTALLA */
    font-size: 1.Sem;
/* OCUPA TODA LA PANTALLA */
    min-height: 100%;
}
body > *{
    box-shadow:-1px 1px 7px 0px rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}
body{
/* PROPORCIONA UNA CUADRICULA DE UNA SOLA COLUMNA */
    display: grid;
/* SEPARACION DE ELEMENTOS */
    gap: 10px;
/* DEFINIR LAS AREAS PARA UN MISMO DISEÑO */
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "aside"
    "footer"
    ;
}

.header{
    grid-area: header;
    background-color: aquamarine;
}
.nav{
    grid-area: nav;
    background-color: blue;
}
.section{
    grid-area: section;
    background-color: blueviolet;
}
.aside{
    grid-area: aside;
    background-color: rgb(255, 21, 21);
}
.footer{
    grid-area: footer;
    background-color: rgb(172, 255, 89);
}

img{
    width: 100%;
}

img:hover{
/* PESEUDOELEMENTO */
    /* filter: blur(50px); */
/* ESCALA DE GRISES */
    /* filter:grayscale(70%) */
   /* SEPIA --> + o - INTENCIDAD  */
    filter:saturate(387%)
/* TRASPARENCIA */
    /* filter:opacity(.5); */

}

/* PESEUSOCODIGO: es una palabra clave que se añade a los selectores y que se especifica un estado espial del elemento seleccionado */

/* TAMAÑO TABLED */
@media (min-width: 600px){
    body{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside section"
        "footer footer"
        ;
    }
}
/* TAMAÑO DESKTOP */
@media (min-width: 900px){
    body{
        grid-template-columns: 200px auto 200px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: 
        "header header header"
        "nav section aside"
        "footer footer footer"
        ;
    }
}