*{
    margin: 0;
    padding: 0;
    /* se cambia el modelo de la pagina */
    box-sizing: border-box;
}

html{
/* PARA Q EL FONDO SEA UNA IMAGEN */
    background-image: url("/imagen/seul.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 950px;
    /* QUE LA IMAGEN QUEDE ESTATICA */
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
/* SE ADADPTA A CUALQUIER TAMAÑO DE PANTALLA */
    font-size: 1.Sem;
/* OCUPA TODA LA PANTALLA */
    min-height: 100%;
}
body > *{
    box-shadow:-1px 1px 7px 0px rgba(255, 255, 255, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-size: 22px;
}
body{
/* PROPORCIONA UNA CUADRICULA DE UNA SOLA COLUMNA */
    display: grid;
/* SEPARACION DE ELEMENTOS */
    gap: 10px;
/* DEFINIR LAS AREAS PARA UN MISMO DISEÑO */
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "aside"
    "footer"
    ;
}

.header{
    grid-area: header;
    font-size: 53px;
    margin: 12px;
    color: antiquewhite;
}
.nav{
    grid-area: nav;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 44px;
}
ul{
    list-style: none;
}
.principio >li{
    float: left;
    
}

.principio li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding: 37px;
    display: block;
    
}
.principio li a:hover{
    background-color: rgb(186, 118, 207);
}

.section{
    grid-area: section ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: #d80505;
    text-shadow: 3px 3px 6px #fcf803; 
}
.section .centro{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 3px;
    text-underline-position: auto;
    /* height:  0 1cm; */
    transform: translate(-50%, -50%);
}
.aside{
    
    /* grid-area: aside; */
    background-color: rgb(170, 210, 255);
    margin: 1px;
    /* font-size: 20px; */
    color: rgb(255, 24, 24);
}
div, iframe{
    width: 172px 172px;
}
.footer{
    grid-area: footer;
    background-color: rgb(172, 255, 89);
}

.contenido{
    /* max-width: max-content; */
    width: auto;
}

img:hover{
/* PESEUDOELEMENTO */
    /* filter: blur(50px); */
/* ESCALA DE GRISES */
    /* filter:grayscale(70%) */
   /* SEPIA --> + o - INTENCIDAD  */
    filter:saturate(265%)
/* TRASPARENCIA */
    /* filter:opacity(.5); */

}

/* PESEUSOCODIGO: es una palabra clave que se añade a los selectores y que se especifica un estado espial del elemento seleccionado */

/* TAMAÑO TABLED */
@media (min-width: 600px){
    body{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header header"
        "nav nav"
        " section"
        "aside aside"
        "footer footer"
        ;
    }
}
/* TAMAÑO DESKTOP */
@media (min-width: 1000px){
    body{
        grid-template-columns: 200px auto 200px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: 
        "header header header"
        "nav section adsie"
        "footer footer footer"
        ;
    }
}