html{
    background-image: url("/imagen/lugares-turisticos-de-japon.jpg");
    background-repeat: repeat ;
    /* background-position: top; */
    background-position: bottom;
    
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: rgb(113, 217, 248);
    align-items: center;
    padding: 0;
}

h2{
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-shadow: 3px 3px 6px #790b0b;
}
.log{
    display: flex;
}

.log img{
    height: 104px;
    margin-right: 10px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: -3px 0 rgb(255, 254, 254), 0 3px rgb(255, 255, 255), 3px 0 #ffffff, 0 -3px rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-size: 43px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: rgb(206, 45, 45);
}

.sub{
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    padding: 4px;
}
.sub{
    /* background-color: rgb(145, 189, 255); */
    color: #000;
    text-align: center;
    font-size: 33px;
    margin: 0;
}

.ul li ul{
    display: none;
    position: absolute;
    min-width: 145px;
    background-color: #ce0f68;
    text-decoration: none;
}
.ul li:hover > ul{
    display: block;
    color: blue;
    
}
.ul li ul li{
    position: relative;
}
.ul >li{
    display: inline-block;
}
.ul li .a{
    padding: 25px;
    color: rgb(22, 22, 22);
    text-decoration: none;
    font-size: 42px;
    display: block;
}
.geo{
    font-size: 37px;
    color: rgb(100, 248, 70);
    /* text-shadow: -2px 0 rgb(255, 254, 254), 0 2px rgb(255, 255, 255), 2px 0 #ffffff, 0 -2px rgb(255, 255, 255); */
    text-shadow: 0 0 2px #700202;
}
p{
    font-size: 30px;
    text-align: center;
    color: rgb(8, 8, 8);
}
footer{
    float: inline-end;
    display: inline-flex;
    background-color: rgb(188, 247, 255);
    color: rgb(21, 5, 255);
    font-size: 22px;
    text-align: end;
    margin: 2px;
}
@media (max-wigth:600px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0;
    }
    nav a{
        font-weight: 900;
        color: rgb(98, 25, 121);
    }

}