body{
    background-image: url("/imagenes/pollo-a-la-brasa.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.Sem;
    font-size: 45px;
    text-align: center;
    color: rgb(255, 238, 4);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 4px 4px 6px #000000;
    opacity: 0.9;
}
header{
    display: flex;
    justify-content: space-between;
    min-height: 25px;
    background-color: blanchedalmond;
    border-radius: 20px;
    align-items: center;
    margin: 1PX;
    padding: 1PX;
}

h2{
    font-size: 38px;
    text-align: left;
    padding: auto;
    color: chartreuse;
    transition-property: color;
    transition-duration: 4s;
    transition-delay: ease;
}
h2:hover{
    color: rgb(0, 204, 255);
}
nav{
    text-align: right;
    padding: 3px;
}
.menu{
    text-decoration: none;
    font-family: cursive;
    color: crimson;
    text-shadow: -3px 0 rgb(0, 0, 0), 0 3px rgb(0, 255, 0), 3px 0 #ffffff, 0 -3px rgb(129, 0, 60);
}
.logo{
    width: 150px;
}

#nombre{
    font-size: 20px;
}
#teléfono{
    font-size: 20px;
}
#boton{
    font-size: 20px;
    color: rgb(255, 0, 0);
}

h1{
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}
footer{
    text-align: center;
    font-size: 49px;
    background-color: black;
    color: rgba(255, 255, 255, 0.993);
    width: 1.Sem;
    height: 107px;
}
.ft{
    width: 17%;
    height: 59%;
    margin: 2px;
    padding: 2PX;
}