@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Square+Peg&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{font-size: 60%;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-image: url("/imagenes/tecnologi.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.Sem;
}
header{
    color: #fff;
}
.inicio{
    text-decoration: none;
    color: #ffffff;
}
.h1{
    font-size: 31px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.contenedor{
    display: flex;
    /* Centra y ordena al medio*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Esta unidad esta basada en el alto de la vista de la ventana*/
    height: 100vh;
    padding: 10px;
    border: 1px solid darkgray;
    
}

.calculadora{
    display: flex;
    /*ESpecifica como colocar los objetos flexibles en el contenido*/
    flex-direction: column;
    width: 500px;
    /*Depende del tamaño real*/
    font-size: 2rem;
    border: 1px solid darkgray;
    background-color: white;
}
.resultado{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid darkgray;
    /*Es una propiedad que especifica si se recorta el contenido*/
    overflow-x: auto;
}
.keypad{
    display: flex;
    width: 100%;
}
.numeros{
    display: flex;
    /*Aparecerá en multilineas */
    flex-wrap: wrap;
    width: 100%;
}
.boton{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    /*Aparece un dedo en la calculadora*/
    cursor: pointer;
    background-color: white;
    border: 1px solid darkgray;
}
.largo{
    width: 50%;
}
.verde{
    background-color: rgb(5, 214, 40);
}
h1{
    text-align: center;
    padding: 10px 0;
    color: rgb(96, 85, 250);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 4px #02ca2d; 
}
footer{
    text-align: center;
    font-size: 49px;
    font-family: fantasy;
    background-color: black;
    color: rgba(255, 255, 255, 0.993);
    width: 1.Sem;
    height: 107px;
}
.ft{
    width: 17%;
    height: 59%;
    margin: 2px;
    padding: 2PX;
}